/*--------------------------------------------------------------
# Video grid
--------------------------------------------------------------*/

#videoMediaContainer {
  z-index: 2;
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 90%;
  border-radius: 5px;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  padding-top: 40px;
}

#videoPinMediaContainer {
  z-index: 1;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  /* border: 3px solid lime; */
}

.Camera {
  position: relative;
  vertical-align: middle;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  background: var(--body-bg);
  border: var(--elem-border-color);
  border-radius: 10px;
  animation: show 1s ease;
}

/*--------------------------------------------------------------
# Video nav Bar
--------------------------------------------------------------*/

.navbar {
  z-index: 8;
  position: absolute;
  top: 0;
  width: 100%;
  background: var(--navbar-bg);
  backdrop-filter: blur(10px);
  text-align: center;
}

.navbar button {
  display: inline;
  padding: 10px;
  font-size: small;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #fff;
}

.navbar button:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/*--------------------------------------------------------------
# Peer name 
--------------------------------------------------------------*/

.videoPeerName {
  z-index: 8;
  position: absolute;
  left: 10px;
  top: 15px;
  color: #cfcfcf;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0;
  width: auto;
  height: 30px;
  border-radius: 7px;
  background: var(--navbar-bg);
  backdrop-filter: blur(10px);
  border: 1.5px solid #c1c1c1;
  padding: 2px 5px; 
}
.videoPeerName i{
  margin-right: 3px;
}

/*--------------------------------------------------------------
# Video Avatar image
--------------------------------------------------------------*/
.remote-avatar-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--navbar-bg);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(190, 190, 190);
  text-shadow: 0 0 10px #595959;
  z-index: 10;
}
.videoAvatarImage {
  z-index: 7;
  position: absolute;
  display: none;
  /* width: var(--vmi-wh); */
  width: 100%;
  /* height: var(--vmi-wh); */
  /*center*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Video 
--------------------------------------------------------------*/

.videoCircle {
  position: absolute;
  width: var(--vmi-wh);
  height: var(--vmi-wh);
  border-radius: 50%;
  /* center */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.videoDefault {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: "10px";
}

video {
  width: 100%;
  height: 100%;
  object-fit: var(--video-object-fit);
  border-radius: 15px;
  cursor: pointer;
}

video:hover {
  opacity: 0.9;
}

video:fullscreen {
  object-fit: contain;
  opacity: 1;
}

#myVideo.mirror {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); 
  border: none;
}

.mirror {
  /* -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); */
  border: none;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(1) translateY(0px);
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
    filter: none;
  }
}

@media (max-width: 768px) {
  #videoMediaContainer {
    flex-direction: row-reverse;
  }
}